* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 25px auto;
  width: 500px;
  text-align: center;
}
